<h1 align="center" class="heading">Welcome Page</h1>

<p>Welcome to the Coding All Rounder.</p>
<!-- <input type="text" x-webkit-speech/>

<input type="file" capture="users" accept="image/*">


<br><br>

<input type="file" accept=".png" size="0.5kb"/>

<br><br>

Number<input type="text" inputmode="numeric"><br><br>

Email<input type="text" inputmode="email"><br><br>

URL<input type="text" inputmode="url"><br><br>

TEL<input type="text" inputmode="tel"><br><br>



Multiple<input type="file" multiple>

<br><br> -->

<!-- <button><a href="">Download</a></button> -->


<!-- <video autoplay src="https://youtu.be/sOrZKN6-QDk" poster="https://bootdey.com/img/Content/avatar/avatar7.png"></video>


<br><br><br>

<a href="mailto:tamilpowergym@gmail.com?cc=tamilpowergym@gmail.com?bcc=tamilpowergym@gmail.com" target="_blank" title="email">Email</a>


<br><br>

<input type="week">


<span title="titile">fdsafda dasfasfd fasdfas fdsafds fasdfas</span> -->

<picture>
  <source media="(min-width: 640px)" srcset="https://media.giphy.com/media/cAFvw6xkh7hiq2ck1n/giphy.gif">
  <source media="(min-width: 465px)" srcset="https://media.giphy.com/media/5MFYQInxMEeD3TtfNx/giphy.gif">
  <img src="https://media.giphy.com/media/pXi3DtuObfhR39RB8a/giphy.gif" style="width: auto;">
</picture>
